<!-- Add your content of head and header -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link href="./static/assets/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="./static/assets/favicon.ico" rel="icon">

    <title>Title page</title>

    <link href="./static/main.97292821.css" rel="stylesheet">
</head>

<body>

    <!-- Add your content of header -->
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="navbar-collapse">
                    <button type="button" class="close" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="./templates/index.html#contact-section-container" title=""
                                class="anchor-link">Contact Us</a></li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>



    <!-- Add your site or app content here -->
    <div class="background-image-container white-text-container"
        style="background-image: url('./static/assets/images/img-05.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Thank you! i will contact you soon!</h1>
                    <p class="">From Milad Banourah</p>
                    <a href="#contact-section-container" class="btn btn-primary btn-lg anchor-link" title="">Get in
                        touch</a>
                </div>
            </div>
        </div>
    </div>

<div class="section-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12 section-container-spacer">
                    <h2 class="text-center">Getting The Job Done!!</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="fa-container">
                        <i class="fa fa-comment-o fa-3x" aria-hidden="true"></i>
                    </div>
                    <h3 class="text-center">Custom App Building</h3>
                    <p>Send me an email with your Specifications you want in your app or website and i'll build it with
                        Python or HTML/CSS/JavaScript or all of them if nessesary in a way that exeeds your
                        expectations.</p>
                </div>

                <div class="col-xs-12 col-md-4">
                    <div class="fa-container">
                        <i class="fa fa-heart-o fa-3x" aria-hidden="true"></i>
                    </div>
                    <h3 class="text-center">Accurate Software</h3>
                    <p>I will be testing every piece of software i write along the way so the result would be an Accurate
                        functioning app that gets the job done without lags or bugs or crashes.</p>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="fa-container">
                        <i class="fa fa-bell-o fa-3x" aria-hidden="true"></i>
                    </div>
                    <h3 class="text-center">Fast Deliver</h3>
                    <p>Of course Quality is my main focus but that doesn't mean that you have to wait for ages in order
                        to get what you asked for :)</p>
                </div>
            </div>
        </div>
    </div>

    <div class="section-container section-half-background-image-container">
        <div class="image-column" style="background-image: url('./static/assets/images/img-01.jpg')"></div>
        <div class="container">
            <div class="row">
                <div class="section-label reveal">
                    <p>Coworking</p>
                </div>
                <div class="col-md-6 col-md-offset-6 text-column">
                    <h2>Why I'm Caliber To Work With You</h2>
                    <h3>A little about me</h3>
                    <p>Well hello, I'm Milad Bannourah and I'm a self-taught software Developer, I studied
                        HTML/CSS/JavaScript and Python in order to work in the job i always wanted to do. I'm 19 years
                        old currently, finished my high school in mid 2020 and currently Studying Electrical and
                        Electronics Engineering.</p>
                    <p>I love programming and i decided to learn it on my own and not through a college thats why i
                        dindn't choose it as my major in the Engineering college. I have pation about what i do and i
                        really enjoy doing it and always willing to learn more and stay up to date with the software
                        industry.</p>
                    <p>With a reasonable price i will make the App or website you where seeking while exeeding the
                        Quality you expected.</p>

                </div>
            </div>
        </div>
    </div>



    <div class="section-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12 section-container-spacer">
                    <h2 class="text-center">What can i do with Python</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <img src="./static/assets/images/img-02.jpg" height=150px width=360px alt="" class="img-responsive">
                    <h3 class="text-center">Scripting</h3>
                    <p>Basically i will write you the script that will make your life easier by doing anything you want
                        from it, all you need to do is to specify for me what you want,for example: converter from JPG to
                        png, or a password manager, or an email sender Basically anything you want can be programmed
                        with Python</p>
                </div>

                <div class="col-xs-12 col-md-4">
                    <img src="./static/assets/images/img-03.jpg" alt="" class="img-responsive">
                    <h3 class="text-center">Automation and Data Science</h3>
                    <p>Automation is writing a script that makes the computer do the job you do regualarly instead of you
                        doing it, so i can simulate human movements on the pc to do stuff automatically, fast and in an
                        accurate way. Also
                        there is data scirnce where i can extract, modify, calculate, and generate new data from
                        existing data basses or exel files... etc and make them more understandable and visualise them
                        with high
                        end graphs that semplifyes the data you see.</p>
                </div>
                <div class="col-xs-12 col-md-4">
                    <img src="./static/assets/images/img-04.jpg" alt="" class="img-responsive">
                    <h3 class="text-center">Web development</h3>
                    <p>Here i use JavaScript,HTML,CSS to design for you a responsive website like this one you are in
                        right
                        now and build you a website that is completly customised to your liking and prefrences, and python will handle your
                        back-end code for example the contact me section in the bottom of this page that when anyone
                        types anything in it, it gets stored on a server data-bass or a PC localy. And the Back-end code would be handeled with flask.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <div class='container-fluid'>
            <div class="row map-container">
                <div id="map"></div>
                <div class="col-xs-10 col-md-4 contact-block-container reveal">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <h3>Phone</h3>
                            <p>+972523543093</p>

                            <h3>E-mail</h3>
                            <p>miladbannourah@outlook.com</p>

                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <h3>Address</h3>
                            <p>Beit Safafa ,Jerusalem, Israel</p>

                            <h3>Open hours</h3>
                            <p>All days Of the week : 9AM - 8PM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="section-container" id="contact-section-container">
        <div class="container contact-form-container">
            <div class="row">
                <div class="col-xs-12 col-md-offset-2 col-md-8">
                    <div class="section-container-spacer">
                        <h2 class="text-center">Get in touch</h2>
                    </div>
                    <form method="POST" action="/submitted">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="Name" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <textarea name="content" class="form-control" rows="3"
                                placeholder="Enter your message"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">Send message</button>
                        <a href="" class="btn btn-default">Reset</a>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script>
        document.addEventListener("DOMContentLoaded", function (event) {

            googleMapInit();
            scrollToAnchor();
            scrollRevelation('reveal');
        });
    </script>

    <footer class="footer-container white-text-container">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>About us</h4>
                    <p>
                        Girl: Do you drink?
                        Programmer: No.
                        Girl: Have Girlfriend?
                        Programmer: No.
                        Girl: Then how do you enjoy life?
                        Programmer: I am Programmer
                    </p>
                </div>

                <div class="col-md-4">
                    <h4>Do you like ? Share this !</h4>
                    <div>
                        <p>
                            <a href="https://www.twitter.com" class="fa-icon" title="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.facebook.com" class="fa-icon" title="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.linkedin.com" class="fa-icon" title="">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </p>
                    </div>


                </div>

                <div class="col-md-4">

                    <h4>Coding is the Future Of everything. btw Angular Sucks! if you want to use a Framework for Web
                        development with javascript Use Vue.js</h4>


                </div>
            </div>
        </div>
        </div>
    </footer>

    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            navbarToggleSidebar();
        });
    </script>


    <script type="text/javascript" src="./static/main.faaf51f9.js"></script>